/* byuwur was here */
.byJSONdocument {
  position: relative;
  padding: 8px 8px 8px 24px;
}
.byJSONstring {
  color: #fff;
}
.byJSONliteral {
  font-weight: bold;
}
.byJSONnest {
  list-style: none;
  margin: 0;
  padding-left: 2em;
}
.byJSONnest.collapsed {
  display: none;
}
.byJSONtoggle {
  position: relative;
  color: inherit;
  text-decoration: none;
}
.byJSONtoggle:before {
  content: "\25BC";
  position: absolute;
  left: -1.25em;
  display: inline-block;
  width: 1em;
  line-height: 1.25em;
  font-size: 1em;
  text-align: center;
  transition: transform 0.333s;
}
.byJSONtoggle:hover:before {
  color: #fff;
}
.byJSONtoggle.collapsed:before {
  transform: rotate(-90deg);
}
.byJSONplaceholder {
  display: none;
  padding: 0 1em;
}
.byJSONplaceholder.collapsed {
  display: inline;
}
.byJSONthemeToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin: 0;
  border: 1px solid currentColor;
  border-radius: 1rem;
  background: transparent;
  color: inherit;
  font: inherit;
  font-size: 1.25rem;
  line-height: 1rem;
  letter-spacing: 0rem;
  text-align: justify;
  cursor: pointer;
}
.byJSONthemeToggle::after {
  content: "";
  position: absolute;
  top: 0.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: currentColor;
  transition: left 0.3s;
}
